@model Employee
<div class="container">
	<div class="row">
		<form method="post" asp-action="Update" asp-controller="Employee">
			<div class="form-group">
				<label for="title">Name</label>
				<input asp-for="FirstName" class="form-control" id="FirstName" placeholder="FirstName">
				<span class="text-danger" asp-validation-for="FirstName"></span>
			</div>
			<div class="form-group">
				<label for="LastName">Price</label>
				<input asp-for="LastName" class="form-control" id="price" placeholder="LastName">
				<span class="text-danger" asp-validation-for="LastName"></span>

			</div>

			<div class="form-group">
				<label for="Position">Position</label>
				<input asp-for="Position" class="form-control" id="Position" placeholder="Position">
				<span class="text-danger" asp-validation-for="Position"></span>

			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<input asp-for="Description" class="form-control" id="Description" placeholder="Description">
				<span class="text-danger" asp-validation-for="Description"></span>

			</div>


			<div class="form-group">
				<label for="imageUrl">ImageUrl</label>
				<input asp-for="ImageUrl" class="form-control" id="imageUrl" placeholder="ImageUrl">
				<span class="text-danger" asp-validation-for="ImageUrl"></span>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a asp-action="Index" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>
