@model Blog
<div class="container">
	<div class="row">
		<h2>Create Blog</h2>
		<form method="post" asp-action="Create" asp-controller="Blog">
			<div class="form-group">
				<label for="title">Title</label>
				<input asp-for="Title" class="form-control" id="title" placeholder="Title">
				<span class="text-danger" asp-validation-for="Title"></span>
			</div>
			<div class="form-group">
				<label for="description">Posted Date</label>
				<input asp-for="postedDate" class="form-control" id="postedDate" placeholder="postedDate">
				<span class="text-danger" asp-validation-for="postedDate"></span>

			</div>

			<div class="form-group">
				<label for="imagePath">ImageUrl</label>
				<input asp-for="ImageUrl" class="form-control" id="ImageUrl" placeholder="ImageUrl">
				<span class="text-danger" asp-validation-for="ImageUrl"></span>
			</div>

			<div class="form-group">
				<label for="categoryId">EmployeeId</label>
				<select asp-for="EmployeeId" id="EmployeeId">
					<option value="null" disabled selected>-Employee secin-</option>

					@foreach (Employee employee in ViewBag.Employees)
					{
						<option value="@employee.Id">@employee.FirstName</option>
					}
				</select>
				<span class="text-danger" asp-validation-for="EmployeeId"></span>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a asp-action="Index" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>
